<!DOCTYPE html>
<html>
  <head>
    <title>Emmanuel Lugadilu - Software Engineer | Agricultural and Biosystems Engineer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="I build websites using Ruby on Rails and TailwindCSS (Full Stack Software Developer). Professionally I am an Agricultural and Biosystems Engineermajoring in Soil Water and Environmental Engineering">
    <meta name="keywords" content="Emmanuel Lugadilu, Software Engineer in Kenya">
    <meta property="og:title" content="Emmanuel Lugadilu - Software Engineer | Agricultural and Biosystems Engineer">
    <meta property="og:site_name" content="Emmanuel Lugadilu">
    <meta property="og:description" content="I build websites using Ruby on Rails and TailwindCSS (Full Stack Software Developer). Professionally I am an Agricultural and Biosystems Engineermajoring in Soil Water and Environmental Engineering">
    <meta property="og:image" content="<%= image_url('passport.jpg') %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="relative">
      <%= render 'partials/header' %>
      <%= yield %>
      <%= render 'partials/futa' %>
      
    </main>
  </body>
</html>
